{% extends 'base.html.twig' %}


{% block title %}
    Books
{% endblock %}

{% block body %}
    {% set books = books.data|default(books) %}

    <h1>Books</h1>

    <form method="GET">
        <label for="criteria_name">Name</label>
        <input type="text" id="criteria_name" name="criteria[name]" value="{{ app.request.query.all('criteria')['name']|default('') }}" />
        <label for="criteria_author">Author</label>
        <input type="text" id="criteria_author" name="criteria[author]" value="{{ app.request.query.all('criteria')['author']|default('') }}" />
        <button type="submit">Search</button>
    </form>

    <a href="{{ path('app_book_index') }}">Reset</a>

    <hr />

    <a href="{{ path('app_book_create') }}">Create</a>

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Author</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for book in books %}
            <tr>
                <td>{{ book.name }}</td>
                <td>{{ book.author }}</td>
                <td>
                    <a href="{{ path('app_book_show', {'id' : book.id}) }}">Show</a>
                    <a href="{{ path('app_book_update', {'id' : book.id}) }}">Edit</a>
                    <form method="POST" action="{{ path('app_book_delete', {'id': book.id}) }}">
                        <input type="hidden" name="_method" value="DELETE" />
                        <input type="submit" value="Delete" />
                    </form>
                </td>
            </tr>
        </tbody>
        {% endfor %}
    </table>

    <hr />

    {% if books.haveToPaginate() %}
        {{ pagerfanta(books, 'twig', options|default({'template': '@BabDevPagerfanta/default.html.twig'})) }}
    {% endif %}
{% endblock %}
